dist
build
.cache
*.min.js
*.gz
*.zip
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg
*.ico
*.woff
*.woff2
*.eot
*.ttf
*.otf
*.mp4
*.webm
*.ogv
*.mp3
*.wav
*.flac
*.aac
*.oga
*.ogg
*.ogx
*.oga
*.mpg
*.mpeg
*.mpe
*.mp4
*.m4p
*.m4v
*.mov
*.mkv
*.avi
*.wmv
*.asf
*.webm
*.ogv
*.mpg
*.mpeg
*.mpe
*.mp4
*.m4p
*.m4v
*.mov
*.mkv
*.avi
*.wmv
*.asf